<div class="container mt-auto p-5" style="" >
    <div class="row justify-content-md-center">
           <div class="col col-lg-8">
        
<table id="table_id" class="display">
    <thead>
        
        <tr>
            <th>UserId</th>
            <th>Date</th>
            <th>Product</th>
            <th>Qty</th>
            <th>Total amount</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Pin code</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>{{this.userId}}</td>
            <td>{{this.date}}</td>
            <td>{{this.products.0.item}}</td>
            <td>{{this.products.0.quantity}}</td>
            <td>{{this.totalAmount}}</td>
            <td>{{this.deliveryDetails.phone}}</td>
            <td>{{this.deliveryDetails.address}}</td>
            <td>{{this.deliveryDetails.post_code}}</td>
         
            <td><a href="" class="btn btn-danger">{{this.status}}</a></td>
           
            {{!-- <td><a href="" class="btn btn-success">{{this.status}}</a></td> --}}
              
           
        </tr>
        {{/each}}
        
    </tbody>
</table>
</div>
</div>
</div>
<script>
$(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>