
<div class="container mt-auto p-5" style="" >
    <div class="row justify-content-md-center">
           <div class="col col-lg-8">
        
<table id="table_userdetails" class="display">
    <thead>
        
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Controll</th>
        </tr>
    </thead>
    <tbody>
         {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
             <td>{{this.phone_number}}</td>
             <td>
                <div>{{#if this.userActived}}
                <div> <button  href="/admin/block_user/{{this._id}}" type="button" onclick="return confirm ('are you sure want to Block')" class="btn btn-danger">Block</button> </div>
                     {{else}}
                <div><button href="/admin/active_user/{{this._id}}" type="button" onclick="return confirm ('are you sure want to Active')" class="btn btn-success">UnBlock</button></div>
                </td>
                {{/if}}
                </div>
                
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
</div>
</div>

<script>
$(document).ready( function () {
    $('#table_userdetails').DataTable();
} );
</script>