<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<!-- validation -->
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  
</head>

<body>
  {{{body}}}
  <div class="container-fluid">
  <nav class="navbar navbar-light bg-light justify-content-between">

    <a class="navbar-brand">User Management</a>
    {{!-- <a class="btn btn-success" href="/manageuser">Add New User</a> --}}
   

  </nav>


  <div class="row mt-5">
    <div class="col-md-10 mx-auto border ">
      <table class="table table-striped" id="usertable">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
              <th scope="col">Mobile</th>
            <th scope="col">Status</th>
          
            <th scope="col">Change Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each user}}
          <tr>
            <td>{{this.name}}</td>

            <td>{{this.email}}</td>
            <td>{{this.phonenumber}}</td>
          {{#if this.status}}
          <td style="color: red;">Block</td>
          {{else}}
          <td style="color: green;">Active</td>
          {{/if}}

            {{!-- <td>{{this.place}}</td>
            <td>{{this.pincode}}</td> --}}
            <td>
              {{#if this.status}}
              <a class="btn btn-success" href="/admin/active-user/{{this._id}}" onclick="return confirm('Are you sure you want to active user {{this.name}} ?')">unblock</a>
              {{else}}
              <a class="btn btn-danger" href="/admin/block-user/{{this._id}}" onclick="return confirm('Are you sure you want to block user {{this.name}} ?')">Block</a>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>



  <script>
    $(document).ready(function () {
      $('#usertable').DataTable();
    });
  </script>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>