<h1>hello</h1>
{{!-- <section>
  <div class="container mt-5">
    <div class="row">
       {{#each products}}
      <div class="col-md-3">

        <div class="card" style="width: 18rem;">
          <img src="image" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{this.product_name}}</h5>
            <p class="card-text">{{this.product_description}}</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section> --}}
<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Product view
  </h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"
        ><a href="#!" class="text-success"
          ><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a
      ></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        
        <thead>
          <tr>
            <th class="text-center">Product id</th>
            <th class="text-center">Product Name</th>
            <th class="text-center">Brand Name</th>
             <th class="text-center">Price</th>
            <th class="text-center">Catogory</th>
            <th class="text-center">description</th>
            <th class="text-center">Stock</th>
            <th class="text-center">image</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
          </tr>
        </thead>
        {{#each products}}
        <tbody>
          <tr>
            <td class="pt-3-half" contenteditable="true">{{this.product_id}}</td>
            <td class="pt-3-half" contenteditable="true">{{this.product_name}}</td>
            <td class="pt-3-half" contenteditable="true">{{this.Brand_name}}</td>
            <td class="pt-3-half" contenteditable="true">{{this.product_price}}</td>
            <td class="pt-3-half" contenteditable="true"></td>
            <td class="pt-3-half" contenteditable="true">{{this.product_description}}</td>
            <td class="pt-3-half" contenteditable="true">{{this.available_quantity}}</td>
            <td><img src="/product-images/{{this.images.[0]}}" style="width:50px;height:50px;"></td>
            
            
            {{!-- <td class="pt-3-half">
              <span class="table-up"
                ><a href="#!" class="indigo-text"
                  ><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a
              ></span>
              <span class="table-down"
                ><a href="#!" class="indigo-text"
                  ><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a
              ></span>
            </td> --}}
            <td>
              <span class="table-remove"
                ><a href="/admin/edit-product" type="button" class="btn btn-success btn-rounded btn-sm my-0">
                  Edit
                </a></span>
              
            </td>
            <td>
              <span class="table-remove"
                ><a href="/admin/delete-product/{{this._id}}" type="button" onclick="return confirm('Are you want to delete {{this.name}}?')" class="btn btn-danger btn-rounded btn-sm my-0">
                  Delete
                </a></span>
              
            </td>
          </tr>
          <!-- This is our clonable table line -->
          
        </tbody>
         {{/each}}
      </table>
      
    </div>
  </div>
</div>
<!-- Editable table -->